.icon-sm {
  font-size: 28px !important;
  color: #424242 !important;
}

.clickable:hover {
  cursor: pointer !important;
}

table tbody tr:hover {
  cursor: pointer !important;
  background-color: #fafafa !important;
}

.custom-link {
  text-decoration: underline;
  color: #1976d2;
}

#viewRecord {
  width: 40vw !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-light {
  background-color: #fafafa !important;
}

.bg-light1 {
  background-color: #9e9e9e !important;
}
